<h1>List Show: <%= @list.id %></h1>
<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Planned ToDo</th>
      <th colspan="3">Actions</th>
    </tr>  
  </thead>

</table>
<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Current ToDo</th>
      <th colspan="3">Actions</th>
    </tr>  
  </thead>

</table>
<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Done ToDo</th>
      <th colspan="3">Actions</th>
    </tr>  
  </thead>

</table>
<%= link_to "Home", root_path %>