<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "APKA", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
      <% if current_user %>
        <li><%= link_to 'Signout', session_path(current_user), method: :delete %></li>
      <% else %>
        <li><%= link_to "Sign up", new_registration_path %></li> | 
        <li><%= link_to "Sign in", new_session_path %></li>
      <% end %>
      </ul>
    </nav> 
  </div>
</header>